<%- include("./partials/header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Supplier Name</th>
                    <th>Telephone</th>
                    <th>Sales Contact</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Advance Special Tools(AST)</td>
                    <td>269-962-4578</td>
                    <td></td>
                    <td></td>
                </tr>
                    <tr>
                    <td>Allied Heat Treat</td>
                    <td>905-677-8000</td>
                    <td>David Borg</td>
                    <td>infor@alliedheattreat.com</td>
                </tr>
                <tr>
                    <td>Anchor Danly</td>
                    <td>519 740 3060</td>
                    <td>Alex Barrett</td>
                    <td>abarrett@anchordanly.com</td>
                </tr>
                <tr>
                    <td>Dadco</td>
                    <td>416-578-7532</td>
                    <td>David Borg</td>
                    <td>david.borg@dadcocanada.com</td>
                </tr>
                <tr>
                    <td>Dadco</td>
                    <td>905-567-9100</td>
                    <td>Dadco</td>
                    <td>office@dadcocanada.com</td>
                </tr>
                <tr>
                    <td>Dayton Progress</td>
                    <td>905-264-2445</td>
                    <td>Adrian Domaneantu</td>
                    <td>adomaneantu@ daytonprogress	</td>
                </tr>
                <tr>
                    <td>Etbo</td>
                    <td>519-773-5117</td>
                    <td>Chris Pare</td>
                    <td>chris.pare@etbo.ca</td>
                </tr>
                <tr>
                    <td>Fastenal</td>
                    <td>647-968-3524</td>
                    <td>Kapilaks Kasilingam</td>
                    <td>kkasilin@fastenal.com</td>
                </tr>
                <tr>
                    <td>Future Products</td>
                    <td>248-588-1060</td>
                    <td>Rosemary</td>
                    <td>infor@future-products.com</td>
                </tr>
                <tr>
                    <td>J.D.S. Accufinish</td>
                    <td>905-761-1505</td>
                    <td>Joe or Arturo</td>
                    <td>arturoc@jdsaccufinish.com</td>
                </tr>
                <tr>
                    <td>Little Lakes</td>
                    <td>519-271-2835</td>
                    <td>Darrel Roth</td>
                    <td>darrelr@llmt.com</td>
                </tr>
                <tr>
                    <td>North Canadian Tools</td>
                    <td>905-851-6904</td>
                    <td>Tony Malinac</td>
                    <td>arturoc@jdsaccufinish.com					
                    </td>
                </tr>
                <tr>
                    <td>S & D Machine</td>
                    <td>416-679-9643</td>
                    <td>Nino Dibiase</td>
                    <td>nino@sdmachine.ca</td>
                </tr>
                <tr>
                    <td>Sputtek</td>
                    <td>416-953-8642</td>
                    <td>Andrei</td>
                    <td>andreib@sputtek.com</td>
                </tr>
                <tr>
                    <td>Toolweld</td>
                    <td>416-285-5650</td>
                    <td>Rick</td>
                    <td>rick@toolweld.ca</td>
                </tr>
                <tr>
                    <td>Wiretron</td>
                    <td>416-407-0502</td>
                    <td>Paolo</td>
                    <td>paolo@wiretron.ca</td>
                </tr>
                <tr>
                    <td>Canadian Automation</td>
                    <td>905-795-1232</td>
                    <td>Kumar</td>
                    <td>kumar@canauto.com</td>
                </tr>
                <tr>
                    <td>Granic</td>
                    <td>905-670-7178</td>
                    <td>Mike Granic</td>
                    <td>granictool.dieltd@on.aibn.com</td>
                </tr>
                <tr>
                    <td>Metalex</td>
                    <td>416-890-5115</td>
                    <td>Kendell David</td>
                    <td>kdavid@metalexmt.com</td>
                </tr>


            </tbody>
    </table>
    <hr>
    <!-- <a class="btn btn-default pull-right">Write</a>
    <div class="text-center">
        <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div> -->
</div>
</body>
</html>
<%- include("./partials/footer") %>