<%- include("partials/header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>TOOL READINESS</title>
    <style>
		
		.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
			padding: 8px;
			line-height: 0.5;
			vertical-align: top;
			border-top: 0px solid #ddd;
		}
        .ready {
            background-color: rgba(56, 184, 51, 0.5);
        }        
        .service {
            background-color: yellow;
        }
        th {
            text-align: center;
        }

        .program {
            background-color: none !important;
        }
        
        .idle{
            background-color: grey;
        }
		
		h3{
			margin-bottom: 25px;
		}
		
		h4 {
			vertical-align: middle;
			/* text-align: middle; */
		}

		div .boxbox{
			display:inline-block;
			width: 80px;
			height: 25px;
			background: yellow;
			border-style: solid;
			border-width: thin;
			position: relative;
			top: 50%;
			transform: translateY(30%);
		}
    </style>
</head>
<body>
        <h3 style="text-align:center">Tool readiness on <span id="date">date</span></h3>
        <table class="table table-hover" width="80%" cellspacing="1" cellpadding="1" border="1" align="center">
            <th>Program</th>
            <th>St.1</th>
            <th>St.2</th>
            <th>St.3</th>
            <th>St.4</th>
            <th>St.5</th>
            <th>St.6</th>
            <th>St.7</th>
            <th>St.8</th>
            <th>St.9</th>
            <th>St.10</th>
            <th>St.11</th>
            <th>St.12</th>
            <th>Status</th>
            <tr id="1600">
                    <td class="program" align="center"></td>
                    <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                    <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                    <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                    <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                    <td align="center" onClick="setId(this)" style="cursor:pointer;">1.5</td>
                    <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                    <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                    <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                    <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                    <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                    <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                    <td class="idle" align="center" style="cursor:pointer;">IDLE</td>            
                    <td class="readiness" align="center">0</td> 
            </tr>
            <tr id="1601">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="1602">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>            
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="1605">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">5</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>           
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="1607">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td> 
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>            
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="1613">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>            
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="1614">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>      
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="1615">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>      
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="1616">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>      
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="1617">
                <td class="program" align="center"></td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">1.5</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>            
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="1618">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>      
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="2461">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>            
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="2486">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>      
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="2497">
                <td class="program" align="center"></td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>      
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="2498">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="2500">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="2501">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="5100">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>      
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="5101">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>      
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="7039">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>            
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">4</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">2</td>
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="7044">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>      
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="7048">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>            
                <td class="readiness" align="center"></td> 
            </tr>
            <tr id="7054">
                <td class="program" align="center"></td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="idle" align="center" style="cursor:pointer;">IDLE</td>            
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td align="center" onClick="setId(this)" style="cursor:pointer;">3</td>
                <td class="readiness" align="center"></td> 
            </tr>
        </table>
		<h4>Please click station# to activate button to <div class="boxbox"></div></h4>
    
    <script language="javascript">

        // Preset program numbers upon open the page inherit from parents id
        onload = document.querySelectorAll(".program").forEach(function(el) {
                el.textContent = el.parentNode.id;
            });
            document.querySelectorAll("td").forEach(function(el){
                el.classList.add(el.parentNode.id); 
            });

            var a=[];
            for(var i=0; i < document.querySelectorAll(".program").length; i++){
                a[i] = document.querySelectorAll(".program")[i].textContent;
            }
            for(var i=0; i<a.length; i++){  
            a[i] = parseInt(a[i]);
            }
            // Create object initialized with 0 hours of service;
            programs = a.reduce(function(acc, cur, i) {
                acc[a[i]] = 0;
                return acc;
            }, {});
            document.querySelectorAll(".readiness").forEach(function(el){
                el.textContent = programs[el.parentNode.id];
				readiness();
            });

        // Onclick function
        function setId(e) {
            if(e.classList.contains('service')) {
                programs[e.parentNode.id] -= parseFloat(e.textContent);
                console.log(programs[e.parentNode.id]);
                e.classList.toggle("service");
                readiness();
            } else {
                programs[e.parentNode.id] += parseFloat(e.textContent);
                e.classList.toggle("service");
                readiness();
            }
        }

        // Update Tool Status
        function readiness() {
            document.querySelectorAll(".readiness").forEach(function(el){
                el.textContent = programs[el.parentNode.id] + " hrs";
                if(el.textContent == 0+" hrs"){
					el.classList.remove("service");
                    el.classList.add("ready");
                    el.textContent = "Ready"
                } else {
                    el.classList.remove("ready");
					el.classList.add("service");
                }
            });
        }
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = mm + '/' + dd + '/' + yyyy;
        // document.write("<span>Today<span>:" + today);
        
        document.querySelector("#date").textContent = today;

    </script>
</body>
</html>