header{
	/* background-color: yellow !important; */
	background: url("/images/magna_mobility.jpg") !important;
	background-repeat: no-repeat !important;
	background-position: 100% !important;
}

.thumbnail img {
	width: 100%;
}

.thumbnail  {
	padding: 0;
}

.thumbnail .caption-full  {
	padding: 9;
}

.delete-form {
	display: inline;
}

h1.font-size {
    font-size: 20px;
	/* margin: auto; */
}

.navbar-nav {
    margin: auto;
    /* box-shadow: 0 0 4px black; */
}